*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
	font-family: 'Bree Serif', serif;
	letter-spacing: 2px;
}


#redeem{
    height: 100vh;
    width: 100vw;
    background-color: #F9F9DD;
    padding: 20px;
    text-align: center;
}

.logo{
    margin-top: 5vh;
    margin-bottom:5vh;
   width: 80vw;
}

.redeemContent div{
    margin-bottom: 5vh;
}

.redeemText{
	width: 80vw;
	text-align: left;
	margin: auto;
}

form{
	text-align: left;
	width: 80vw;
	margin: auto;
}

input,
label,
select,
button,
textarea
{
	margin:0;
	border:0;
	padding:0;
	background:none;
	line-height:1;
}
.nameInput, .conversationInput,
.textInput{
    padding-bottom:3px;
    border-bottom: 3px solid #f7a18a;
    font-family: 'Bree Serif', serif;
}
.submitBtn{
    font-size: 15px;
    border: 3px solid #f7a18a;
    padding: 10px;
    font-family: 'Bree Serif', serif;
}
#voucher{
    height: 100vh;
    width: 100vw;
    background-color: #F9F9DD;
    padding: 20px;
    text-align: center;
    display: none;
}
.headings{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    font-size: 50px;
    color: #f7a18a;
}


.voucherImg{
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 30vh;
}
.voucherText{
    margin: auto;
    width: 80vw;
    margin-bottom: 2rem;
    text-align: left;
}

.logoIcon{
    height: 50px;
}
